<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="content-type" content="charset=utf-8" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42903081-1', 'videofortheweb.org');
      ga('send', 'pageview');
    </script>
  </head>

  <body>
    <div id="wrapper">


      <div id="header">
        <div>
          <a class="navLink" href="/">VFTW</a>
          <a class="navLink" href="/classes">CLASSES</a>
          <a class="navLink" href="/code">CODE</a>
          <a class="navLink" href="/assignments">ASSIGNMENTS</a>
          <a class="navLink" href="/resources">RESOURCES</a>
        </div>
      </div>

      <div id="main">
        <%- body %> 
      </div>

      <div id="footer">
          <a class="classLink" href="https://github.com/craigprotzel/VideoForTheWeb">VFTW Github Repo</a>
      </div>

    </div>
  </body>

  <script charset="utf-8" src="/javascripts/jquery.js"></script>
  <script charset="utf-8" src="/javascripts/jquery.fitvids.js"></script>
  <script charset="utf-8" src="/javascripts/videoArray.js"></script>
  <script charset="utf-8" src="/javascripts/application.js"></script>


</html>