<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="content-type" content="charset=utf-8" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    

  </head>

  <body>
    <div id="wrapper">


      <div id="header">
        <div>
          <a class="navLink" href="/">VFTW</a>
          <a class="navLink" href="/course">COURSE</a>
          <a class="navLink" href="/code">CODE</a>
          <a class="navLink" href="/resources">RESOUCES</a>
        </div>
      </div>

      <div id="main">
        <%- body %> 
      </div>

      <div id="footer"></div>

    </div>
  </body>

  <script charset="utf-8" src="/javascripts/jquery.js"></script>
  <script charset="utf-8" src="/javascripts/jquery.fitvids.js"></script>
  <script charset="utf-8" src="/javascripts/videoArray.js"></script>
  <script charset="utf-8" src="/javascripts/application.js"></script>


</html>