<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="content-type" content="charset=utf-8" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div id="wrapper">

      <div id="header">
        <div>
          <a class="navLink" href="/">HOME</a>
          <a class="navLink" href="/course">COURSE</a>
        </div>
      </div>

      <div id="main">
        <%- body %> 
      </div>

      <div id="footer"></div>

    </div>
  </body>

</html>