
/***********BASE***********/
* { padding: 0; margin: 0; }

html {
	height: 100%;
}

body {
	width:100%;
	height:100%;
	color: rgb(30,30,30);
	font-size: 12pt;
	font-family: "Helvetica", "Arial", "Lucida Grande", "Geneva",  sans-serif;
/*	background-color: rgb(25,25,25);*/
	background-color: white;
}

#wrapper {
	max-width: 100%;
	/*margin: 10px auto;*/
	height: 100%;
}

a {
	text-decoration: none;
}


/***********HEADER***********/
#header{
	position: fixed;
	width:100%;
	z-index: 10000;
	background-color: rgba(255,255,255, 0.9);
	padding-top: 10px;
	padding-bottom: 10px;

}

.navLink{
	color: rgb(125, 125, 125);
	padding-right: 10px;
	padding-left: 20px;
}

.navLink:hover{
	color: rgb(0, 0, 0);
}



/***********MAIN***********/
#main{
	position: absolute;
	width: 100%;
	/*margin: 40px 20px 0 20px;*/
}


.group{
	margin: 30px 20px;
}

.pageLink{
	position: relative;
	margin: 20px 20px;
	padding: 10px 10px;
	color: rgb(255, 255, 255);
	background-color: rgb(100, 100, 100);
	border-style: none;
	border-radius: 6px;
	line-height: 50px;
	text-decoration:underline;
}

.pageLink:hover{
	color: rgb(5,5,5);
	font-weight: bold;
	background-color: rgb(200, 200, 200);
	border-style: none;
}


/***********MAIN INDEX***********/

.topBody{
	z-index: 100;
	margin-top: 75px;
	margin-left: 30px;
	margin-right: 30px;
}

.centerBody{
	clear: left;
	z-index: 100;
	padding-top: 10px;
	margin-left: 30px;
	margin-right: 30px;
}

.videoContainer{
	width: 100%;
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
}

.videoContainerAssignments{
	width: 100%;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.embedVideo{
	z-index: 1;
	width: 30%;
	float: left;
	padding-right: 1%;
}



.textBig{
	font-size: 14pt;
	/*font-weight: bold;*/
	margin-top: 5px;
	margin-bottom: 5px;
}

.textMed{
	font-size: 12pt;
	margin-top: 5px;
	margin-bottom: 5px;
}

.textBold{
	font-weight: bolder;
	font-size: 11pt;
}

.textBolder{
	font-weight: bolder;
	font-size: 12pt;
	margin-top: 5px;
	margin-bottom: 5px;
}

.textInfo{
	margin-top: 12px;
	margin-bottom: 12px;
	font-size: 11pt;
}

.textButton{
	font-size: 11pt;
	padding: 4px 8px 4px 8px;
	color: white;
	background-color: rgb(125,125,125);
	border-style: none;
	border-radius: 2px;
	line-height: 20px;
}

.textButton:hover{
	background-color: rgb(0,0,0);
}

.listTitle{
	margin-top: 12px;
	font-size: 11pt;
}

.listInfo{
	font-size: 11pt;
	margin-top: 12px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

.listInfoBold{
	font-size: 11pt;
	font-weight: bolder;
	margin-top: 12px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right:20px;
}

.itemTitle{
	font-size: 11pt;
	margin-top: 12px;
	margin-bottom: 2px;
}

.itemInfo{
	font-size: 11pt;
	margin-top: 12px;
	margin-bottom: 12px;
}

#courseInfo0{
	display: none;
}
#courseInfo1{
	display: none;
}
#courseInfo2{
	display: none;
}
#courseInfo3{
	display: none;
}
#courseInfo4{
	display: none;
}
#courseInfo5{
	display: none;
}
#courseInfo6{
	display: none;
}

.classLink{
	color: rgb(125, 125, 125);
	text-decoration:underline;
}
.classLink:hover{
	color: rgb(0, 0, 0);
}

.classInfo{
	font-size: 11pt;
	margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 20px;
}

.classListInfo{
	font-size: 11pt;
	margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 40px;
}

#classInfo0{
	display: none;
}
#classInfo1{
	display: none;
}
#classInfo2{
	display: none;
}
#classInfo3{
	display: none;
}
#classInfo4{
	display: none;
}
#classInfo5{
	display: none;
}
#classInfo6{
	display: none;
}
#classInfo7{
	display: none;
}
#classInfo8{
	display: none;
}
#classInfo9{
	display: none;
}
#classInfo10{
	display: none;
}
#classInfo11{
	display: none;
}

.classAssignment{
	margin-left: 40px;
/*	margin-right: 40px;*/
}


.studentName{
	font-size: 10pt;
	margin-top: 2px;
}

.assignmentBox{
	margin-bottom: 40px;
}
.resourcesBox{
	margin-bottom: 20px;
}