<div class="topBody">

	<div class="codeBox">
		<div class="listInfoBold">HTML + CSS EXAMPLES
			<div class="codeBlock">
				<div>SimplePage_01.html</div>
				<script src="https://gist.github.com/craigprotzel/a70cd8ee21ea77e249fb.js"></script>
			</div>
			<div class="codeBlock">
				<div>SimplePage_02.html</div>
				<script src="https://gist.github.com/craigprotzel/d5750e411d8ab9ff7945.js"></script>
			</div>
			<div class="codeBlock">
				<div>SimplePage_03.html</div>
				<script src="https://gist.github.com/craigprotzel/6118152.js"></script>
			</div>			
		</div>
	</div>
	</div>

</div>
