<div class="courseMain">

	<div>Video For The Web</div>
	<div>ITP - Summer Session II 2013</div>
	<div>Tues + Thurs 6:30 - 9:25pm</div>
	<div>Instructor: Craig Protzel craig.protzel@nyu.edu</div>

	<div class="group">
		<p><a target=blank class="pageLink" href="https://docs.google.com/document/d/1HEk5A_jA2VCpYRfhoBZIkr3VLkXQVFg5BnU9E5ROk-Q/edit?usp=sharing"> Course Syllabus</a></p> 
		<p><a target=blank class="pageLink" href="https://docs.google.com/document/d/1eEcHNOGtPYYxDacKH-2RnE7zAg2Nl82a4XMzkcsmcq4/edit?usp=sharing"> Course Schedule</a></p>
	</div>

</div>