<div class="topBody">

	<div class="resourcesBox">
		<div class="listInfoBold">BOOKS</div>
		<div class="listInfo">
			<p><a class="classLink" target="blank" href="http://www.amazon.com/Compression-Great-Video-Audio-Master/dp/0240812131">Compression for Great Video & Audio - Ben Waggoner</a></p>
			<p><a class="classLink" target="blank" href="http://www.amazon.com/Blink-Eye-Revised-2nd-Edition/dp/1879505622">In The Blink Of An Eye - Walter Murch</a></p>
			<p><a class="classLink" target="blank" href="http://www.amazon.com/Understanding-Comics-The-Invisible-Art/dp/006097625X">Understanding Comics - Scott McCloud</a></p>
		</div>
	</div>

	<div class="resourcesBox">
		<div class="listInfoBold">EQUIPMENT</div> 
		<div class="listInfo">
			<p><a class="classLink" target="blank" href="http://itp.nyu.edu/help/Video/ER">ITP Equipment Room</a></p>
		</div>		
	</div>

	<div class="resourcesBox">
		<div class="listInfoBold">EDU</div>
		<div class="listInfo">
			<p><a class="classLink" target="blank" href="https://vimeo.com/videoschool">Vimeo Video School</a></p>
			<p><a class="classLink" target="blank" href="http://tv.adobe.com/product/premiere-pro/">Adobe TV - Premiere Pro</a></p>
			<p><a class="classLink" target="blank" href="http://helpx.adobe.com/premiere-pro/topics.html">Adobe Premeire Pro Help</a><p>
			<p><a class="classLink" target="blank" href="https://vimeo.com/48361799">Adobe Premiere Pro CS6 Tutorial</a></p>
			<p><a class="classLink" target="blank" href="http://library.creativecow.net/tutorials/adobepremierepro">Creative Cow - Adobe Premiere Pro Tutorials</a></p>
			<p><a class="classLink" target="blank" href="http://www.youtube.com/watch?v=lkf1uBA3RR0">Switch To Premiere Pro</a></p>
			<p><a class="classLink" target="blank" href="http://www.adobe.com/content/dam/Adobe/en/products/premiere/pdfs/premiere-pro-cs5-for-finalcutpro.pdf">From FCP to Adobe Premiere</a></p>
			<p><a class="classLink" target="blank" href="http://www.youtube.com/watch?v=QHVmIC-1b-g">Learn Final Cut Pro X In Ten Minutes</a></p>
			<p><a class="classLink" target="blank" href="http://www.lafcpug.org/">LAFCPUG - LA Final Cut Pro User Group</a></p>
		</div>
	</div>

	<div class="resourcesBox">
		<div class="listInfoBold">LECTURES</div>
		<div class="listInfo">
			<p><a class="classLink" target="blank" href="https://dl.dropboxusercontent.com/u/9648298/ITP_VFTW_Class1_Storytelling_071013.pdf">Class #1: Storytelling</a></p>
			<p><a class="classLink" target="blank" href="https://dl.dropboxusercontent.com/u/9648298/ITP_VFTW_Class2_Scripts_Storyboard_Production_071113.pdf">Class #2: Scripts, Storyboards, & Production</a></p>
			<p><a class="classLink" target="blank" href="https://dl.dropboxusercontent.com/u/9648298/ITP_VFTW_Class3%2B4_Editing_071613.pdf">Class #3 & #4: Editing</a></p>
		</div>
	</div>

	<div class="resourcesBox">
		<div class="listInfoBold">MEDIA MANAGEMENT</div>
		<div class="listInfo">
			<p><a class="classLink" target="blank" href="http://www.apple.com/support/quicktime/">Mac - Quicktime</a></p>
			<p><a class="classLink" target="blank" href="http://www.squared5.com/">MPEG Streamclip</a></p> 
			<p><a class="classLink" target="blank" href="http://handbrake.fr/">Handbrake</a></p> 
			<p><a class="classLink" target="blank" href="http://www.videolan.org/vlc/index.html">VLC Player</a></p>
			<p><a class="classLink" target="blank" href="http://keepvid.com">KeepVid</a></p>
			<p><a class="classLink" target="blank" href="https://addons.mozilla.org/en-US/firefox/addon/video-downloadhelper/ ">Firefox - Download Helper</a></p>
			<p><a class="classLink" target="blank" href="http://roundhere.net/journal/download-flash-or-any-other-video-on-osx-with-curl/">Safari - Download Video on OSX with curl</a></p>
		</div>
	</div>

	<div class="resourcesBox">
		<div class="listInfoBold">MUSIC</div>
		<div class="listInfo">
			<p><a class="classLink" target="blank" href="http://vimeo.com/musicstore">Vimeo Music Store</p>
			<p><a class="classLink" target="blank" href="http://freemusicarchive.org/ ">Free Music Archive</p>
			<p><a class="classLink" target="blank" href="http://cctrax.com/">CC Trax</p>
		<div>
	</div>

</div>















